.main-nav {
  display: flex;
  justify-content: space-between;
  padding:  10px;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  align-items: center;
}

.left-nav {

  > ul {
    > li {
      font-family: inherit;
      font-size: 12px;
      text-transform: uppercase;
      justify-content: space-evenly;
    }
  }

  span {

  }
}

.right-nav  {

  > ul {

    > li {
     
    }

    > li:last-of-type {
  
    }
  }
  
  i {

  }
}

.left-nav > ul > li:hover {
  background-color: $light-gray;
}


.right-nav > ul > li:last-of-type:hover {
}
